<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!--登陆-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <!--管理员-->
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <!--老师-->
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.servlet.TeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacherServlet</url-pattern>
    </servlet-mapping>
    <!--学生-->
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/studentServlet</url-pattern>
    </servlet-mapping>
    <!--课表-->
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>com.servlet.ScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/scheduleServlet</url-pattern>
    </servlet-mapping>
    <!--课程-->
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.servlet.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/courseServlet</url-pattern>
    </servlet-mapping>
</web-app>
